<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /~63834/routing/
RewriteRule ^~63834/routing/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~63834/routing/index.html [L]
</IfModule>